<!doctype html>
<html ng-app='helloApp'>
<head>
  <meta charset="utf-8">
  <title>frontend</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>




  <div ng-controller="HelloController">
    <form name="personForm" ng-submit="addPersonToList()" >

      <div ng-include="'partials/hello.html'"></div>

      <label>Name:</label>
      <input type="text" ng-model="person.name" required>
      <label>E-mail:</label>
      <input type="email" ng-model="person.email" required>
      <label>Phone:</label>
      <input type="tel" ng-model="person.phone">
      <input type="submit" class='button' value="Add to list">
    </form>
    <ul>
      <li ng-repeat="person in list">
        <span>{{person.name}} - {{person.email | secret }}</span>
      </li>
    </ul>
  </div>







    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->

    <script src="scripts/hello.js" charset="utf-8"></script>

    <!-- inject:partials -->
    <!-- angular templates will be automaticaly converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
